@using ShopDeliveryApplication.Models.Entities;

@*@model BucketProduct[]
@{
	ViewData["Title"] = "Bucket";
}

<h1>Корзина</h1>

@foreach (var product in Model)
{
	<div>
		<p>@product.Name</p>
		<img src="@product.ImageUrl" />
		<p>@product.Price</p>
		<p>@product.Mass кг</p>
		<p>Количество: @product.Count</p>
	</div>
}*@