@using ShopDeliveryApplication.Models.Entities;

@model BucketProduct[]

<h1>Корзина</h1>

<form asp-action="SendOrder">
	<button class="btn btn-success">Отправить</button>
</form>

@foreach (var product in Model)
{
	<div>
		<p>@product.Name</p>
		<img src="@product.ImageUrl" />
		<p>@product.Price</p>
		<p>@product.Mass кг</p>
		<p>Количество: @product.Count</p>
	</div>
}